$color-grey-1:  #f5f4f4;
$color-grey-2:  #e0d9d9;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-white:#fff;
$color-black:#000;
$blue-one: rgba(57, 57, 241, 0.877);
$red-one: rgba(248, 82, 82, 0.897);
$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;



$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



$text-transform:uppercase;
$inline-block:inline-block;
$text-align:center;
$font-size:13px;
$letter-spacing:2px;
$line-height:1.47rem;



$margin-top-05: 3px;
$margin-top-1: 10px;
$margin-top-2: 20px;
$margin-top-3: 30px;
$margin-top-4: 40px;
$margin-top-5: 50px;
$margin-top-6: 60px;
$margin-top-7: 70px;
$margin-top-8: 80px;
$margin-top-9: 90px;


$margin-bottom-05: 3px;
$margin-bottom-1: 10px;
$margin-bottom-15: 15px;
$margin-bottom-2: 20px;
$margin-bottom-3: 30px;
$margin-bottom-4: 40px;
$margin-bottom-5: 50px;
$margin-bottom-6: 60px;
$margin-bottom-7: 70px;
$margin-bottom-8: 80px;
$margin-bottom-9: 90px;


$margin-right-05: 3px;
$margin-right-1: 10px;
$margin-right-2: 20px;
$margin-right-3: 30px;
$margin-right-4: 40px;
$margin-right-5: 50px;
$margin-right-6: 60px;
$margin-right-7: 70px;
$margin-right-8: 80px;
$margin-right-9: 90px;
$margin-right-10: 100px;
$margin-right-11: 110px;
$margin-right-12: 120px;


$margin-left-05: 3px;
$margin-left-1: 10px;
$margin-left-015: 17px;
$margin-left-2: 20px;
$margin-left-3: 30px;
$margin-left-4: 40px;
$margin-left-5: 50px;
$margin-left-6: 60px;
$margin-left-7: 70px;
$margin-left-8: 80px;
$margin-left-9: 90px;
$margin-left-10: 100px;
$margin-left-11: 110px;
$margin-left-12: 120px;
$margin-left-13: 130px;
$margin-left-14: 140px;
$margin-left-15: 150px;
$margin-left-16: 160px;
$margin-left-17: 170px;
$margin-left-18: 180px;


$margin-05: 3px;
$margin-1: 10px;
$margin-2: 20px;
$margin-3: 30px;
$margin-4: 40px;
$margin-5: 50px;
$margin-6: 60px;
$margin-7: 70px;
$margin-8: 80px;
$margin-10: 100px;
$margin-11: 110px;
$margin-12: 120px;
$margin-13: 130px;
$margin-14: 140px;
$margin-15: 150px;
$margin-16: 160px;
$margin-17: 170px;




$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-primary-light:#7ed56f;
$color:white;
// Default font-size
$default-font-size:1.08rem;

$rotateY: 180deg;